.App {
  text-align: center;
}

.App-header {
  background-color: #00B3D6;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.paper {
  padding: 17px;
  margin: 17px;
  text-align: 'center';
}

.pf-header {
  background-color: #00B3D6;
  color: white;
}

.pf-h-value {
  color: white !important;
  font-size: 16px !important;
  font-weight: bold;
}

table * {
  text-align: center !important;
}